---
title: Profile v3
body_class: page-profile-v3
---

{{#extend "layout-default"}}
  {{#content "css_vendor" mode="append"}}
    <link rel="stylesheet" href="{{global}}/vendor/plyr/plyr.css">
    <link rel="stylesheet" href="{{global}}/vendor/magnific-popup/magnific-popup.css">
  {{/content}}

  {{#content "css" mode="prepend"}}
    <link rel="stylesheet" href="{{assets}}/examples/css/pages/profile_v3.css">
  {{/content}}


  {{#content "js_vendor" mode="append"}}
    <script src="{{global}}/vendor/plyr/plyr.js"></script>
    <script src="{{global}}/vendor/magnific-popup/jquery.magnific-popup.js"></script>
  {{/content}}

  {{#content "js" mode="append"}}
    <script src="{{global}}/js/Plugin/plyr.js"></script>
    <script src="{{global}}/js/Plugin/magnific-popup.js"></script>
  {{/content}}


  {{#content "scripts" mode="replace"}}
    <script src="{{assets}}/examples/js/pages/profile_v3.js"></script>
  {{/content}}

  {{#content "body"}}


    <div class="page">
      <div class="page-content container-fluid">
        <div class="row">
          <div class="col-lg-8">
            <div class="card">
              <img class="card-img-top w-full" src="{{global}}/photos/placeholder.png">
              <div class="card-block wall-person-info">
                <a class="avatar bg-white img-bordered person-avatar">
                  <img src="{{global}}/portraits/2.jpg">
                </a>
                <h2 class="person-name">
                  <a href="#">Jonathan Smith</a>
                </h2>
                <p class="card-text">
                  <a href="#" class="blue-grey-400">jsmith@flatlab.com</a>
                </p>
              </div>
            </div>
            <div class="card card-shadow wall-posting">
              <div class="card-block p-0">
                <div class="form-group mb-0">
                  <input class="form-control form-control-lg" type="text" name="write" placeholder="Whats in your mind today?"
                  />
                  <div class="p-10">
                    <button class="btn btn-pure btn-default icon md-image" type="button" name="button"></button>
                    <button class="btn btn-pure btn-default icon md-tv-play" type="button" name="button"></button>
                    <button class="btn btn-pure btn-default icon md-calendar" type="button" name="button"></button>
                    <button class="btn btn-pure btn-default icon md-map" type="button" name="button"></button>
                    <button class="btn btn-primary btn-round submit float-right mr-10">
                      Post
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <div class="card card-shadow">
              <div class="card-block media clearfix p-25">
                <div class="pr-20">
                  <a href="#" class="avatar avatar-lg">
                    <img class="img-fluid" src="{{global}}/portraits/6.jpg">
                  </a>
                </div>
                <div class="media-body text-middle">
                  <h4 class="mt-0 mb-5">
                    Mallinda Hollaway
                  </h4>
                  <small>Posted on 31st Aug 2017 at 07:00</small>
                </div>
              </div>
              <div class="card-block px-25  pt-0">
                <p class="card-text mb-20">
                  Laborum ea id excepteur qui tempor ipsum aliquip ut. Amet mollit eu occaecat irure.
                  Aute aute id est fugiat amet et tempor. Voluptate sint enim nulla
                  aliqua cillum enim aute incididunt. Enim aute occaecat elit in
                  commodo. Cillum laborum officia culpa nostrud cupidatat labore
                  id et. Velit nostrud proident deserunt cupidatat occaecat sit
                  velit. Deserunt ipsum cillum laborum magna.
                </p>
                <div class="row imgs-gallery mb-20 no-space">
                  <div class="col-lg-12">
                    <a href="../../../global/photos/animal-2-960x640.jpg" alt="..." class="gallery-item"
                      data-img-id="m_1" title="view_1">
                      <img src="../../../global/photos/animal-2-960x640.jpg" class="w-full">
                    </a>
                  </div>
                </div>
                <ul class="wall-attrs clearfix p-0 m-0">
                  <li class="attrs-meta float-left">
                    <span>
                      <i class="icon md-chat"></i> 36
                    </span>
                    <span class="success ml-10">
                      </if>
                      <i class="icon md-heart"></i> 220
                    </span>
                  </li>
                  <li class="float-right">
                    <a href="#" class="avatar avatar-sm" data-paticipator-id="p_1">
                      <img src="{{global}}/portraits/3.jpg">
                    </a>
                    <a href="#" class="avatar avatar-sm" data-paticipator-id="p_2">
                      <img src="{{global}}/portraits/1.jpg">
                    </a>
                    <a href="#" class="avatar avatar-sm" data-paticipator-id="p_3">
                      <img src="{{global}}/portraits/2.jpg">
                    </a>
                    <a href="#" class="avatar avatar-sm" data-paticipator-id="p_4">
                      <img src="{{global}}/portraits/4.jpg">
                    </a>
                  </li>
                </ul>
              </div>
              <div class="card-footer p-20">
                <div class="wall-comment">
                  <a href="#" class="avatar avatar-md float-left">
                    <img src="{{global}}/portraits/3.jpg">
                  </a>
                  <div class="ml-60">
                    <a href="#">Stacey Hunt</a>
                    <small class="ml-10">30th July 2017</small>
                    <p class="mt-5">
                      Non nulla veniam mollit cillum occaecat commodo exercitation ea ipsum. Ex occaecat
                      consectetur adipisicing voluptate eiusmod. Cupidatat ut enim
                      magna sit fugiat proident. Anim commodo amet minim id sint.
                    </p>
                  </div>
                  <div class="dropdown comment-operation">
                    <button type="button" class="btn btn-icon btn-round btn-default btn-sm" data-toggle="dropdown"
                      aria-expanded="false">
                      <i class="icon md-more-vertical"></i>
                    </button>
                    <div class="dropdown-menu dropdown-menu-right" role="menu">
                      <a class="dropdown-item" href="javascript:void(0)" role="menuitem">Report</a>
                      <a class="dropdown-item" href="javascript:void(0)" role="menuitem">Delete</a>
                    </div>
                  </div>
                </div>
                <div class="wall-comment">
                  <a href="#" class="avatar avatar-md float-left">
                    <img src="{{global}}/portraits/5.jpg">
                  </a>
                  <div class="ml-60">
                    <a href="#">Sam Anderson</a>
                    <small class="ml-10">3 mins ago...</small>
                    <p class="mt-5">
                      Labore non officia aliquip sit. Veniam excepteur irure occaecat culpa do aute cupidatat
                      minim reprehenderit. Duis esse duis laboris cupidatat occaecat
                      irure laborum culpa in. Elit deserunt proident ut cillum
                      officia esse.
                    </p>
                  </div>
                  <div class="dropdown comment-operation">
                    <button type="button" class="btn btn-icon btn-round btn-default btn-sm" data-toggle="dropdown"
                      aria-expanded="false">
                      <i class="icon md-more-vertical"></i>
                    </button>
                    <div class="dropdown-menu dropdown-menu-right" role="menu">
                      <a class="dropdown-item" href="javascript:void(0)" role="menuitem">Report</a>
                      <a class="dropdown-item" href="javascript:void(0)" role="menuitem">Delete</a>
                    </div>
                  </div>
                </div>
                <form class="wall-comment-reply">
                  <input type="text" class="form-control" placeholder="Write Something...">
                  <div class="reply-operation">
                    <button class="btn btn-sm btn-primary reply-post" type="button">POST</button>
                    <button class="btn btn-sm btn-pure btn-default reply-cancel" type="button">CANCEL</button>
                  </div>
                </form>
              </div>
            </div>
            <div class="card card-shadow">
              <div class="card-block media clearfix p-25">
                <div class="pr-20">
                  <a href="#" class="avatar avatar-lg">
                    <img class="img-fluid" src="{{global}}/portraits/1.jpg">
                  </a>
                </div>
                <div class="media-body text-middle">
                  <h4 class="mt-0 mb-5">
                    Felix Harper
                  </h4>
                  <small>Posted on 29th Aug 2017 at 02:10</small>
                </div>
              </div>
              <div class="card-block px-25  pt-0">
                <p class="card-text mb-20">
                  Proident duis sint nostrud ut et veniam. Voluptate veniam ex pariatur veniam commodo
                  aute consequat. Minim sit id fugiat culpa adipisicing ut. Nulla
                  ullamco ex do aute est labore sint anim sint. Et exercitation
                  laboris exercitation consectetur cupidatat mollit officia excepteur.
                  Cillum fugiat ut officia veniam laboris do. Qui do consequat
                  ad ad mollit reprehenderit. Pariatur do nisi duis aliquip labore
                  ea reprehenderit.
                </p>
                <ul class="wall-attrs clearfix p-0 m-0">
                  <li class="attrs-meta float-left">
                    <span>
                      <i class="icon md-chat"></i> 0
                    </span>
                    <span class="ml-10">
                      </if>
                      <i class="icon md-heart"></i> 0
                    </span>
                  </li>
                  <li class="float-right">
                    <a href="#" class="avatar avatar-sm" data-paticipator-id="p_1">
                      <img src="{{global}}/portraits/3.jpg">
                    </a>
                  </li>
                </ul>
              </div>
              <div class="card-footer p-20">
                <form class="wall-comment-reply">
                  <input type="text" class="form-control" placeholder="Write Something...">
                  <div class="reply-operation">
                    <button class="btn btn-sm btn-primary reply-post" type="button">POST</button>
                    <button class="btn btn-sm btn-pure btn-default reply-cancel" type="button">CANCEL</button>
                  </div>
                </form>
              </div>
            </div>
            <div class="card card-shadow">
              <div class="card-block media clearfix p-25">
                <div class="pr-20">
                  <a href="#" class="avatar avatar-lg">
                    <img class="img-fluid" src="{{global}}/portraits/5.jpg">
                  </a>
                </div>
                <div class="media-body text-middle">
                  <h4 class="mt-0 mb-5">
                    Johnni Schmidt
                  </h4>
                  <small>Posted on 2nd on Jul 2017 at 02:10</small>
                </div>
              </div>
              <div class="card-block px-25  pt-0">
                <p class="card-text mb-20">
                  Nisi duis tempor occaecat commodo velit aliquip irure. Anim ea labore laboris elit
                  quis officia. Nostrud ad ea anim magna ad laboris est ea. Veniam
                  do magna exercitation nostrud dolor do. Amet id cillum labore
                  ad deserunt deserunt. Laborum elit nisi veniam reprehenderit
                  cupidatat. Nostrud voluptate minim anim aliquip ut ea commodo.
                  Minim Lorem Lorem velit magna tempor.
                </p>
                <div class="row imgs-gallery mb-20 no-space">
                  <div class="col-xl-4 col-lg-6">
                    <a href="../../../global/photos/city-2-720x480.jpg" alt="..." class="gallery-item"
                      data-img-id="m_1" title="view_1">
                      <img src="../../../global/photos/city-2-720x480.jpg" class="w-full">
                    </a>
                  </div>
                  <div class="col-xl-4 col-lg-6">
                    <a href="../../../global/photos/city-3-720x480.jpg" alt="..." class="gallery-item"
                      data-img-id="m_2" title="view_2">
                      <img src="../../../global/photos/city-3-720x480.jpg" class="w-full">
                    </a>
                  </div>
                  <div class="col-xl-4 col-lg-6">
                    <a href="../../../global/photos/city-4-720x480.jpg" alt="..." class="gallery-item"
                      data-img-id="m_3" title="view_3">
                      <img src="../../../global/photos/city-4-720x480.jpg" class="w-full">
                    </a>
                  </div>
                  <div class="col-xl-6 col-lg-6">
                    <a href="../../../global/photos/city-5-720x480.jpg" alt="..." class="gallery-item"
                      data-img-id="m_4" title="view_4">
                      <img src="../../../global/photos/city-5-720x480.jpg" class="w-full">
                    </a>
                  </div>
                  <div class="col-xl-6 col-lg-12">
                    <a href="../../../global/photos/animal-1-720x480.jpg" alt="..." class="gallery-item"
                      data-img-id="m_5" title="view_5">
                      <img src="../../../global/photos/animal-1-720x480.jpg" class="w-full">
                    </a>
                  </div>
                </div>
                <ul class="wall-attrs clearfix p-0 m-0">
                  <li class="attrs-meta float-left">
                    <span>
                      <i class="icon md-chat"></i> 2
                    </span>
                    <span class="success ml-10">
                      </if>
                      <i class="icon md-heart"></i> 10
                    </span>
                  </li>
                  <li class="float-right">
                    <a href="#" class="avatar avatar-sm" data-paticipator-id="p_1">
                      <img src="{{global}}/portraits/2.jpg">
                    </a>
                    <a href="#" class="avatar avatar-sm" data-paticipator-id="p_2">
                      <img src="{{global}}/portraits/1.jpg">
                    </a>
                  </li>
                </ul>
              </div>
              <div class="card-footer p-20">
                <div class="wall-comment">
                  <a href="#" class="avatar avatar-md float-left">
                    <img src="{{global}}/portraits/3.jpg">
                  </a>
                  <div class="ml-60">
                    <a href="#">Stacey Hunt</a>
                    <small class="ml-10">30th July 2017</small>
                    <p class="mt-5">
                      Nulla nostrud veniam excepteur nisi commodo esse do enim nulla. Aliqua quis aute
                      ea labore occaecat quis aliqua exercitation minim. Cillum
                      irure sunt et Lorem. Nisi aute sint ex exercitation velit.
                    </p>
                  </div>
                  <div class="dropdown comment-operation">
                    <button type="button" class="btn btn-icon btn-round btn-default btn-sm" data-toggle="dropdown"
                      aria-expanded="false">
                      <i class="icon md-more-vertical"></i>
                    </button>
                    <div class="dropdown-menu dropdown-menu-right" role="menu">
                      <a class="dropdown-item" href="javascript:void(0)" role="menuitem">Report</a>
                      <a class="dropdown-item" href="javascript:void(0)" role="menuitem">Delete</a>
                    </div>
                  </div>
                </div>
                <form class="wall-comment-reply">
                  <input type="text" class="form-control" placeholder="Write Something...">
                  <div class="reply-operation">
                    <button class="btn btn-sm btn-primary reply-post" type="button">POST</button>
                    <button class="btn btn-sm btn-pure btn-default reply-cancel" type="button">CANCEL</button>
                  </div>
                </form>
              </div>
            </div>
            <div class="card card-shadow">
              <div class="card-block media clearfix p-25">
                <div class="pr-20">
                  <a href="#" class="avatar avatar-lg">
                    <img class="img-fluid" src="{{global}}/portraits/3.jpg">
                  </a>
                </div>
                <div class="media-body text-middle">
                  <h4 class="mt-0 mb-5">
                    Tim Collins
                  </h4>
                  <small>Posted on 2nd Sep 2017 at 17:00</small>
                </div>
              </div>
              <div class="card-block px-25  pt-0">
                <p class="wall-note">Added a new video</p>
                <p class="card-text mb-20">
                  Ea commodo quis nisi voluptate voluptate. Do est laborum sunt nulla ipsum. Et exercitation
                  velit et aliqua in ad. Aliquip ipsum ullamco veniam do sit et
                  minim. Consectetur exercitation id dolor adipisicing do enim
                  elit. Excepteur dolor cillum culpa voluptate amet id dolore veniam
                  enim. Culpa nulla ex exercitation proident proident ex ad. Cupidatat
                  aute excepteur anim ut officia incididunt labore.
                </p>
                <div class="row mb-20 no-space">
                  <div class="col-xxl-6 col-xl-12">
                    <div class="cover player" data-plugin="plyr" data-video-id="v_1">
                      <video poster="{{assets}}/examples/images/poster.jpg" controls crossorigin>
                        <!-- Video Files -->
                        <source type="video/mp4" src="https://cdn.selz.com/plyr/1.0/movie.mp4">
                        <source type="video/webm" src="https://cdn.selz.com/plyr/1.0/movie.webm">

                        <!-- Text Track File -->
                        <track kind="captions" label="English" srclang="en" src="//cdn.selz.com/plyr/1.0/en.vtt"
                          default>

                        <!-- Fallback For Browsers That Don'T Support The <Video> Element -->
                        <a href="https://cdn.selz.com/plyr/1.0/movie.mp4">Download</a>
                      </video>
                    </div>
                  </div>
                </div>
                <ul class="wall-attrs clearfix p-0 m-0">
                  <li class="attrs-meta float-left">
                    <span>
                      <i class="icon md-chat"></i> 18
                    </span>
                    <span class="success ml-10">
                      </if>
                      <i class="icon md-heart"></i> 45
                    </span>
                  </li>
                  <li class="float-right">
                    <a href="#" class="avatar avatar-sm" data-paticipator-id="p_1">
                      <img src="{{global}}/portraits/2.jpg">
                    </a>
                    <a href="#" class="avatar avatar-sm" data-paticipator-id="p_2">
                      <img src="{{global}}/portraits/1.jpg">
                    </a>
                  </li>
                </ul>
              </div>
              <div class="card-footer p-20">
                <div class="wall-comment">
                  <a href="#" class="avatar avatar-md float-left">
                    <img src="{{global}}/portraits/3.jpg">
                  </a>
                  <div class="ml-60">
                    <a href="#">Stacey Hunt</a>
                    <small class="ml-10">30th July 2017</small>
                    <p class="mt-5">
                      Ad deserunt esse ipsum irure mollit enim. Irure duis pariatur sint eu do commodo
                      esse. Amet consectetur cillum consequat pariatur excepteur.
                      Sunt sit adipisicing veniam cupidatat id mollit.
                    </p>
                  </div>
                  <div class="dropdown comment-operation">
                    <button type="button" class="btn btn-icon btn-round btn-default btn-sm" data-toggle="dropdown"
                      aria-expanded="false">
                      <i class="icon md-more-vertical"></i>
                    </button>
                    <div class="dropdown-menu dropdown-menu-right" role="menu">
                      <a class="dropdown-item" href="javascript:void(0)" role="menuitem">Report</a>
                      <a class="dropdown-item" href="javascript:void(0)" role="menuitem">Delete</a>
                    </div>
                  </div>
                </div>
                <form class="wall-comment-reply">
                  <input type="text" class="form-control" placeholder="Write Something...">
                  <div class="reply-operation">
                    <button class="btn btn-sm btn-primary reply-post" type="button">POST</button>
                    <button class="btn btn-sm btn-pure btn-default reply-cancel" type="button">CANCEL</button>
                  </div>
                </form>
              </div>
            </div>
            <div class="card card-shadow">
              <div class="card-block media clearfix p-25">
                <div class="pr-20">
                  <a href="#" class="avatar avatar-lg">
                    <img class="img-fluid" src="{{global}}/portraits/3.jpg">
                  </a>
                </div>
                <div class="media-body text-middle">
                  <h4 class="mt-0 mb-5">
                    Tim Collins
                  </h4>
                  <small>Posted on 2nd Sep 2017 at 17:00</small>
                </div>
              </div>
              <div class="card-block px-25  pt-0">
                <p class="wall-note">Is listening to the Evernote</p>
                <p class="card-text mb-20">
                  Dolor aliquip qui ullamco ullamco proident. Consequat consequat aute ea nisi ea
                  aute labore nulla. Adipisicing non in nostrud pariatur ullamco.
                  Aliqua aliquip duis voluptate qui culpa aliquip est quis. Sit
                  sit aliqua occaecat dolore commodo nostrud irure. Est sit pariatur
                  nisi velit ut amet aute culpa. Ex exercitation cupidatat do fugiat
                  qui ex in eiusmod. Culpa id voluptate deserunt est.
                </p>
                <div class="wall-body-audio clearfix">
                  <div class="row mb-20 no-space">
                    <div class="col-xxl-6 col-xl-12">
                      <div class="cover player" data-audio-id="">
                        <audio controls>
                          <!-- Audio Files -->
                          <source type="audio/mp3" src="https://cdn.selz.com/plyr/1.0/logistics-96-sample.mp3">
                          <source type="audio/ogg" src="https://cdn.selz.com/plyr/1.0/logistics-96-sample.ogg">
                          <!-- Fallback For Browsers That Don'T Support The <Audio> Element -->
                          <a href="https://cdn.selz.com/plyr/1.0/logistics-96-sample.mp3">Download</a>
                        </audio>
                      </div>
                    </div>
                  </div>
                </div>
                <ul class="wall-attrs clearfix p-0 m-0">
                  <li class="attrs-meta float-left">
                    <span>
                      <i class="icon md-chat"></i> 18
                    </span>
                    <span class="success ml-10">
                      </if>
                      <i class="icon md-heart"></i> 45
                    </span>
                  </li>
                  <li class="float-right">
                    <a href="#" class="avatar avatar-sm" data-paticipator-id="p_1">
                      <img src="{{global}}/portraits/3.jpg">
                    </a>
                    <a href="#" class="avatar avatar-sm" data-paticipator-id="p_2">
                      <img src="{{global}}/portraits/1.jpg">
                    </a>
                  </li>
                </ul>
              </div>
              <div class="card-footer p-20">
                <div class="wall-comment">
                  <a href="#" class="avatar avatar-md float-left">
                    <img src="{{global}}/portraits/3.jpg">
                  </a>
                  <div class="ml-60">
                    <a href="#">Stacey Hunt</a>
                    <small class="ml-10">30th July 2017</small>
                    <p class="mt-5">
                      Enim ex consectetur nulla est nostrud id aliquip. Et commodo consectetur ut do
                      reprehenderit proident eu. Ad fugiat laborum non sint. Ea
                      enim magna cillum occaecat nostrud elit.
                    </p>
                  </div>
                  <div class="dropdown comment-operation">
                    <button type="button" class="btn btn-icon btn-round btn-default btn-sm" data-toggle="dropdown"
                      aria-expanded="false">
                      <i class="icon md-more-vertical"></i>
                    </button>
                    <div class="dropdown-menu dropdown-menu-right" role="menu">
                      <a class="dropdown-item" href="javascript:void(0)" role="menuitem">Report</a>
                      <a class="dropdown-item" href="javascript:void(0)" role="menuitem">Delete</a>
                    </div>
                  </div>
                </div>
                <form class="wall-comment-reply">
                  <input type="text" class="form-control" placeholder="Write Something...">
                  <div class="reply-operation">
                    <button class="btn btn-sm btn-primary reply-post" type="button">POST</button>
                    <button class="btn btn-sm btn-pure btn-default reply-cancel" type="button">CANCEL</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="card card-block">
              <h4 class="card-title">About me</h4>
              <p class="card-text">
                Tempor eu in ad reprehenderit mollit cupidatat duis amet. Consectetur laboris nulla
                ex exercitation irure. Mollit anim consectetur aute consectetur
                aliqua sit ad. Amet ad voluptate mollit magna excepteur in tempor.
                <a href="#">Read more...</a>
              </p>
            </div>
            <div class="card wall-recent-comments">
              <div class="card-header card-header-transparent">
                <h4 class="card-title">
                  Recent Comments
                </h4>
                <p class="card-text">
                  Cras congue nec lorem eget posuere
                </p>
              </div>
              <div class="list-group">
                <a class="list-group-item" data-recomment-id="c_1">
                  <div class="media">
                    <div class="pr-15">
                      <div class="avatar avatar-md">
                        <img class="img-fluid" src="../../../global/portraits/6.jpg">
                      </div>
                    </div>
                    <div class="media-body">
                      <h5 class="list-group-item-heading mt-0 mb-5">David Belle</h5>
                      <p class="list-group-item-text">
                        Excepteur aliquip nisi dolore ea exercitation sint culpa nulla exercitation....
                      </p>
                    </div>
                  </div>
                </a>
                <a class="list-group-item" data-recomment-id="c_2">
                  <div class="media">
                    <div class="pr-15">
                      <div class="avatar avatar-md">
                        <img class="img-fluid" src="../../../global/portraits/7.jpg">
                      </div>
                    </div>
                    <div class="media-body">
                      <h5 class="list-group-item-heading mt-0 mb-5">Jonathan Morris</h5>
                      <p class="list-group-item-text">
                        Minim eu exercitation ex deserunt amet ad....
                      </p>
                    </div>
                  </div>
                </a>
                <a class="list-group-item" data-recomment-id="c_3">
                  <div class="media">
                    <div class="pr-15">
                      <div class="avatar avatar-md">
                        <img class="img-fluid" src="../../../global/portraits/4.jpg">
                      </div>
                    </div>
                    <div class="media-body">
                      <h5 class="list-group-item-heading mt-0 mb-5">Fredric Mitchell Jr.</h5>
                      <p class="list-group-item-text">
                        Magna Lorem non dolore cillum ipsum....
                      </p>
                    </div>
                  </div>
                </a>
                <a class="list-group-item" data-recomment-id="c_4">
                  <div class="media">
                    <div class="pr-15">
                      <div class="avatar avatar-md">
                        <img class="img-fluid" src="../../../global/portraits/7.jpg">
                      </div>
                    </div>
                    <div class="media-body">
                      <h5 class="list-group-item-heading mt-0 mb-5">Jonathan Morris</h5>
                      <p class="list-group-item-text">
                        Cillum occaecat ipsum aliqua velit veniam commodo est....
                      </p>
                    </div>
                  </div>
                </a>
                <a class="list-group-item" data-recomment-id="c_5">
                  <div class="media">
                    <div class="pr-15">
                      <div class="avatar avatar-md">
                        <img class="img-fluid" src="../../../global/portraits/4.jpg">
                      </div>
                    </div>
                    <div class="media-body">
                      <h5 class="list-group-item-heading mt-0 mb-5">Fredric Mitchell Jr.</h5>
                      <p class="list-group-item-text">
                        Velit occaecat proident nostrud ut voluptate....
                      </p>
                    </div>
                  </div>
                </a>
              </div>
              <div class="comments-view card-footer card-footer-transparent">
                <a href="#">View All</a>
              </div>
            </div>
            <div class="card p-20">
              <h4 class="card-title">
                Contact Information
              </h4>
              <p class="card-text">
                Fusce eget dolor id justo luctus commodo vel pharetra nisi. Donec velit libero
              </p>
              <div class="card-block p-0">
                <p data-info-type="phone" class="mb-10 text-nowrap">
                  <i class="icon md-account mr-10"></i>
                  <span class="text-break">00971123456789
                    <span>
                </p>
                <p data-info-type="email" class="mb-10 text-nowrap">
                  <i class="icon md-email mr-10"></i>
                  <span class="text-break">malinda.h@gmail.com
                    <span>
                </p>
                <p data-info-type="fb" class="mb-10 text-nowrap">
                  <i class="icon bd-facebook mr-10"></i>
                  <span class="text-break">malinda.hollaway
                    <span>
                </p>
                <p data-info-type="twitter" class="mb-10 text-nowrap">
                  <i class="icon bd-twitter mr-10"></i>
                  <span class="text-break">@malinda (twitter.com/malinda)
                    <span>
                </p>
                <p data-info-type="address" class="mb-10 text-nowrap">
                  <i class="icon md-pin mr-10"></i>
                  <span class="text-break">44-46 Morningside Road,Edinburgh,Scotland
                    <span>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  {{/content}}
{{/extend}}